/* light theme */
body {
    background-color: rgb(36, 93, 56);
    color: white;
    font-family: 'Rajhdani', sans-serif;
  }
  
  /* theme toggle */
  .theme {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: rgba(184, 135, 11, 0);
  }
  .toggle {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 52px;
    background-color: white;
    border-radius: 30px;
    border: 2px solid rgb(142, 140, 137);
  }
  .toggle:after {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(142, 140, 137);
    top: 1px;
    left: 1px;
    transition: all 0.5s;
  }
  .checkbox:checked + .toggle::after {
    left: 49px;
  }
  .checkbox {
    display: none;
  }
  
  /* logo */
  img {
    width: 20%;
    margin-left: 39.5%;
  }
  
  /* form styling */
  #uvuId {
    display: none;
  }
  .hidden {
    display: none;
  }
  form {
    margin: 0 20%;
    padding: 2%;
    border: solid black;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;

  }
  ul {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  li {
    list-style-type: none;
    border: 2px solid white;
    border-radius: 10px;
    margin-bottom: 5%;
  }
  .newLog {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-self: auto;
  }
  
#aminTeacherSection {
  display: none;
}
  /* Tab styling */
.tab {
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  background-color: #f1f1f1;
  display: flex;
  justify-content: space-around;
}

.tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  flex: 1;
  text-align: center;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

.tabcontent-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
  width: 100%;
}

.tabcontent.active {
  display: flex;
  justify-content: space-between;
}

.tabcontent .left {
  width: 45%;
}

.tabcontent .right {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-self: center;
}